@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

@import url("cabecalho.css");
@import url("principal.css");
@import url("formulario.css");
@import url("produto.css");
@import url("mensagem.css");
@import url("rodape.css");

:root {
    --azul: #3772FF;
    --branco: #FFFFFF;
    --verde: #36D6AD;
    --coral: #FC7071;
    --creme: #FCF0E3;
    --cinza: #737380;
    --cinza-claro: #BCBCBC;
    --cinza-claro-fundos: #F7F7F7;

    --fonte-titulo: "IBM Plex Sans";
    --fonte-principal: "Poppins";
}

body {
    font-family: var(--fonte-principal);
    background-image: url("../img/Forma-01.png");
    background-repeat: no-repeat;
    background-position: left top;
    color: var(--branco);
    font-size: 16px;
    font-weight: 400;
}

.index__body {
    background-color: var(--azul);
    color: var(--branco);
    background-image: url("../img/Forma-01.png"), url("../img/Forma-02.png"), url("../img/Ilustração-pets.png");
    background-repeat: no-repeat;
    background-position: left top, right center, bottom 4rem center;
}

.cadastro__body {
    background-color: var(--branco);
    color: var(--azul);
    background-image: url("../img/Patas.png"), url("../img/Forma-01.png"), url("../img/Forma-03.png");
    background-repeat: no-repeat;
    background-position: right top, left top, left 75%;
}

@media screen and (min-width: 768px) {
    body {
        font-size: 18px;
        background-image: url("../img/Forma-01-responsivo.png");
    }

    .index__body {
        background-image: url("../img/Forma-01-responsivo.png"), url("../img/Forma-02-responsivo.png"), url("../img/Ilustração-pets-responsivo.png");
    }

    .cadastro__body {
        background-image: url("../img/Patas-responsivo.png"), url("../img/Forma-01-responsivo.png"), url("../img/Forma-02-responsivo.png");
        background-repeat: no-repeat;
        background-position: right top, left top, right center;
    }
}