.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    padding: 3rem 4rem;
}

.cabecalho__icones {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.cabecalho__logo {
    display: none;
}

.cabecalho__menu-usuario {
    padding-left: 2.5rem;
 }

@media screen and (min-width: 768px) {

    .cabecalho {
        padding: 4rem;
    }

    .cabecalho__logo {
        display: block;
    }

    .cabecalho__menu-usuario {
        display: inline;
        float: inline-end;
     }
}