.login {
    height: 70vh;
}

.login__recuperar {
    color: var(--coral);
    font-size: 12px;
    font-weight: 400;
    text-decoration: underline;
    line-height: 24px;
    padding-bottom: 1rem;
}