.principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
    padding: 2rem 4rem;
    height: 80vh;
}

.principal__subtitulo {
    font-family: var(--fonte-titulo);
    font-size: 26px;
}

.principal__texto {
    line-height: 24px;
    width: 250px;
    padding-bottom: 1rem;
}

.principal__botao {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.principal__botao__clicar {
    background: var(--coral);
    color: var(--branco);
    border-radius: 6px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.192);
    font-weight: 600;
    width: 180px;
    height: 40px;
}

@media screen and (min-width: 768px) {
    .principal {
        padding: 5rem 0;
        height: 100vh;
    }

    .principal__logo {
        width: 15rem;
    }

    .principal__subtitulo {
        font-size: 28px;
    }

    .principal__texto {
        width: 400px;
    }

    .principal__botao__clicar  {
        width: 344px;
        height: 48px;
    }
}

@media screen and (min-width: 1440px) {
    .principal {
        height: 90vh;
        padding: 0;
    }
}